div.container {
  max-width: 600px;
  margin: 30px auto;
}
div {
  padding: 10px;
}
div.ref {
  // text-transform: uppercase;
  padding-left: 45%;
  color: maroon;
  font-weight: bold;
  font-size: 1rem;
}

div.header {
  margin: 10px;
  color: var(--ion-color-tertiary);
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid silver;
  box-shadow: 5px 5px 15px var(--var-color-boxshadow);
}
div.data {
  margin: 10px;
}
div.note {
  color: var(--ion-color-tertiary);
  font-weight: 1.2rem;
  padding: 2px;
}
.k-flex {
  display: flex;
}
.numInput {
  max-width: 200px;
}

div {
  --var-color: blue;
  --var-color1: var(--var-color);
  --var-color2: green;
}
div.container {
  margin: 3% auto;
  max-width: 500px;
  // border: 1px solid gray;
  // box-shadow: 2px 2px 10px var(--var-color-boxshadow);
  // border-radius: 5px;
}
div.spinner,
div.edit {
  text-align: center;
}
div.data {
  width: 100%;
  // height: 30px;
  // height: 100%;
  text-align: center;
  // vertical-align: middle;
  padding: 10px;
}

div.quiz {
  padding: 10px;
}
div.question {
  padding: 10px;
  font-size: 1.5rem;
  color: var(--ion-color-tertiary);
}
div.option {
  font-size: 1.3rem;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  border: 1px solid silver;
  vertical-align: middle;
}
span {
  color: var(--ion-color-tertiary);
}
span.optionSelected {
  color: white;
}
.teamLead {
  background-color: lightgreen;
}
div.footer {
  // bottom: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px auto;
}
.btn {
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 20px;
  width: 120px;
  text-align: center;
  background-color: var(--ion-color-tertiary);
  padding: 10px;
  color: white;
}
.btn:hover,
.btn:hover {
  background-color: white;
  color: var(--ion-color-tertiary);
  border: 1px solid var(--ion-color-tertiary);
}
div.optionSelected {
  background-color: rgb(21, 210, 65);
  color: black;
}
div.quizCompleted {
  margin: 30px auto;
  text-align: center;
}
div.quizCompleted span {
  display: inline-block;
  margin: 10px;
  font-size: 2rem;
}
div.quizCompleted span.correct,
div.quizCompleted span.total {
  border: 1px solid gray;
  padding: 30px;
}
div.quizResult {
  text-align: center;
}
div.quizCompleted .Remarks {
  font-size: 1.5rem;
  color: var(--ion-color-tertiary);
}
.hideResult {
  display: none;
}
.btn.tryagain {
  width: auto;
  margin: 100px 30%;
}
div.resultHeading {
  font-size: 1.5rem;
  color: var(--ion-color-tertiary);
}

div.bottom {
  text-align: center;
}
div.bottom span.current,
div.bottom span.total {
  padding: 5px;
}
.team {
  border-radius: 5px;
  border: 1px solid black;
  background-color: royalblue;
  color: white;
  margin: 5px;
  padding: 4px;
}
.teamPt {
  border: 1px solid black;
  margin: 5px;
  padding: 4px;
  color: blue;
  font-weight: bold;
  background-color: white;
}
