<app-kheader [title]="headerTitle"></app-kheader>
<ion-content>
  <div class="container">
    <!-- show quiz -->
    <div class="points">
      <span class="team">Team A:</span>
      <span
        class="teamPt"
        [ngStyle]="teamBPoints < teamAPoints ? {'background-color': 'lightgreen'}: {}"
        >{{teamAPoints}} pts</span
      >
    </div>
    <div>
      <span class="team">Team B:</span>
      <span
        class="teamPt"
        [ngStyle]="teamBPoints > teamAPoints ? {'background-color': 'lightgreen'}: {}"
        >{{teamBPoints}} pts</span
      >
    </div>
    <div
      class="quiz"
      *ngIf="quizSet && quizSet.length > 0 && currentIndex >=0 && currentIndex < quizSet.length"
      (click)="optionSelected($event)"
    >
      <div class="question">
        <span> {{currentIndex +1 }}. </span>
        {{quizSet[currentIndex].question}}
      </div>

      <div class="options" *ngIf="showOptions">
        <div
          class="option optionB"
          id="optionA"
          [ngClass]="{'optionSelected': showAnswer && quizSet[currentIndex].correctOption == 0}"
        >
          <span
            [ngClass]="{'optionSelected': showAnswer && quizSet[currentIndex].correctOption == 0}"
            >A.
          </span>
          {{quizSet[currentIndex].optionA}}
        </div>
        <div
          class="option optionB"
          id="optionB"
          [ngClass]="{'optionSelected': showAnswer && quizSet[currentIndex].correctOption == 1}"
        >
          <span
            [ngClass]="{'optionSelected': showAnswer && quizSet[currentIndex].correctOption == 1}"
            >B. </span
          >{{quizSet[currentIndex].optionB}}
        </div>
        <div
          class="option optionC"
          id="optionC"
          [ngClass]="{'optionSelected': showAnswer && quizSet[currentIndex].correctOption == 2}"
        >
          <span
            [ngClass]="{'optionSelected': showAnswer && quizSet[currentIndex].correctOption == 2}"
            >C. </span
          >{{quizSet[currentIndex].optionC}}
        </div>
        <div
          class="option optionD"
          id="optionD"
          [ngClass]="{'optionSelected': showAnswer && quizSet[currentIndex].correctOption == 3}"
        >
          <span
            [ngClass]="{'optionSelected':showAnswer &&  quizSet[currentIndex].correctOption == 3}"
            >D. </span
          >{{quizSet[currentIndex].optionD}}
        </div>
      </div>
      <div
        class="description"
        *ngIf="showAnswer && quizSet[currentIndex] && quizSet[currentIndex].description"
      >
        <div style="font-weight: bold; text-decoration: underline">Note:</div>
        <code style="color: red; white-space: pre-line"
          >{{quizSet[currentIndex].description}}</code
        >
      </div>
      <div class="bottom">
        <span class="current">{{currentIndex + 1}}</span>
        <span>/</span>
        <span class="total">{{quizSet.length}} </span>
      </div>
    </div>
    <!-- show options -->
    <!-- show answer -->
  </div>
  <div *ngIf="isAuth">
    <div class="title">Admin page</div>
    <div>
      <button (click)="getChapterKey()">
        Get chapter key - {{this.chapterKey}}
      </button>
    </div>
    <!-- Update index -->
    <div class="k-flex">
      <button (click)="prevIndexClick()">Prev</button>
      <input class="numInput" type="number" [(ngModel)]="dInfo.currentIndex" />
      <button (click)="nextIndexClick()">Next</button>
    </div>
    <!-- Update show options -->
    <div>
      <button
        (click)="dInfo.showOptions = !dInfo.showOptions"
        [style]="dInfo.showOptions ? 'background-color:red;color:white':''"
      >
        Show Options: {{dInfo.showOptions ? "true" : "false"}}
      </button>
      <!-- Update show answer -->
      <button
        [style]="dInfo.showAnswer ? 'background-color:red;color:white':''"
        (click)="dInfo.showAnswer = !dInfo.showAnswer"
      >
        Show Answer: {{dInfo.showAnswer ? "true" : "false"}}
      </button>
    </div>

    <!-- Update points -->
    <div>
      <div class="k-flex">
        <button
          class="k-button"
          (click)="dInfo.teamAPoints = dInfo.teamAPoints+5"
        >
          Add 5
        </button>
        <button
          class="k-button"
          (click)="dInfo.teamAPoints = dInfo.teamAPoints+10"
        >
          Add 10
        </button>
        <button
          class="k-button"
          (click)="dInfo.teamAPoints = dInfo.teamAPoints-5"
        >
          Reduce 5
        </button>
        <button
          class="k-button"
          (click)="dInfo.teamAPoints = dInfo.teamAPoints-10"
        >
          Reduce 10
        </button>
        <br />
        Team A points: {{dInfo.teamAPoints}}
      </div>
      <div class="k-flex">
        <button
          class="k-button"
          (click)="dInfo.teamBPoints = dInfo.teamBPoints+5"
        >
          Add 5
        </button>
        <button
          class="k-button"
          (click)="dInfo.teamBPoints = dInfo.teamBPoints+10"
        >
          Add 10
        </button>
        <button
          class="k-button"
          (click)="dInfo.teamBPoints = dInfo.teamBPoints-5"
        >
          Reduce 5
        </button>
        <button
          class="k-button"
          (click)="dInfo.teamBPoints = dInfo.teamBPoints-10"
        >
          Reduce 10
        </button>
        <br />
        Team B points: {{dInfo.teamBPoints}}
      </div>
    </div>
    <button class="k-button" (click)="updateClick()">Update</button>
  </div>
</ion-content>
